@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "CheckBox Sample";
    //the first time through the form has yet to be created
    // any reference to a control on the 1st time through will be null
    //remember to initiallize the associated global variable is the else
    //      of the if post
    string choices = Request.Form["CheckBoxGroup"];
}
@section banner {<h3>Form Using TextBox</h3>}
@if (IsPost)
{
    // IsPost means your form has been displayed on the users browser
    // and your control exists
    //it does not mean that any action was done against is by the user
    if (choices.IsEmpty())
    {
        <p><span style="color:firebrick"> So you do not like to play games</span></p>
        //if no choices were made, the choices string becomes null
        //re-initialize the varaiable
        choices = "";
    }
    else
    {
        // choices will be a string of values seperated by a comma (default)
        // i will need to split this string up on the commas
        // to do so we will use the string method .split(delimiter)
        // the delimiter is the character that seperates your values
        <p>
            I see you like to use the following gaming platform(s):
            <ul>
                @foreach (var item in choices.Split(','))
                {
                    <li>@item</li>
                }
            </ul>
        </p>
    }
}
else
{
    choices = "";
}

<form id="theForm" method="post">
    <div class="row">
        <div class="offset-1">
            <label for="CheckBoxGroup">Select your favortie gaming platform(s):</label><br />
            <input type="checkbox" name="CheckBoxGroup" id="CheckBoxGroup" value="PS4"
                   @(Array.IndexOf(choices.Split(','), "PS4") >= 0 ? "checked" : "") />PS4<br />
            <input type="checkbox" name="CheckBoxGroup" id="CheckBoxGroup" value="PC"
                   @(Array.IndexOf(choices.Split(','), "PC") >= 0 ? "checked" : "") />PC<br />
            <input type="checkbox" name="CheckBoxGroup" id="CheckBoxGroup" value="Xbox"
                   @(Array.IndexOf(choices.Split(','), "Xbox") >= 0 ? "checked" : "") />Xbox one<br />
            <input type="checkbox" name="CheckBoxGroup" id="CheckBoxGroup" value="Switch"
                   @(Array.IndexOf(choices.Split(','), "Switch") >= 0 ? "checked" : "") />Nintendo Switch<br />
            <input type="checkbox" name="CheckBoxGroup" id="CheckBoxGroup" value="Wii"
                   @(Array.IndexOf(choices.Split(','), "Wii") >= 0 ? "checked" : "") />Nintendo Wii<br />
        </div>
    </div>
    <div class="row">
        <div class="offset-5">
            <button type="submit" name="theButton" id="theButton" value="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

